*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(217, 12%, 63%);
    --mediumGray: hsl(216, 12%, 54%);
    --darkBlue: hsl(213, 19%, 18%);
    --veryDarkBlue: hsl(216, 12%, 8%);
}

body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--veryDarkBlue);
}

.container {
    max-width: 415px;
    height: 415px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%;
    height: 100%;
    background-color: var(--darkBlue);
    border-radius: 25px;
    display: block;
}

.wrapper-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    width: 100%;
    height: 100%;
    background-color: var(--darkBlue);
    border-radius: 25px;
    display: none;
}

.img-container .circle {
    position: relative;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: hsl(216, 12%, 54%, 10%);
}

.img-container img {
    position: absolute;
    top: 31.5%;
    left: 31.5%;
}

.heading h1 {
    margin-top: 27px;
    color: var(--white);
    font-size: 28px;
}

.para p {
    margin-top: 15px;
    color: var(--mediumGray);
    line-height: 1.5;
}

.questions {
    margin-top: 50px;
}

.questions .options {
    display: inline;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 100px;
    color: var(--lightGray);
    background-color: hsl(216, 12%, 54%, 10%);
    margin-left: 25px;
    transition: 100ms ease;
}

.questions .options:hover {
    background-color: var(--lightGray);
    color: white;
    cursor: pointer;
}

.questions .options:active {
    background-color: var(--orange);
    color: var(--white);
}

.questions .options:nth-child(1) {
    margin-left: 0;
}

.button-container {
    margin-top: 50px;
}

.button-container button {
    border-style: none;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--orange);
    font-size: 15px;
    letter-spacing: 2px;
    padding: 13px 140px;
    border-radius: 100px;
    transition: 100ms ease;
}

.button-container button:hover {
    background-color: white;
    color: var(--orange);
}

.img-two img {
    margin-top: 20px;
    margin-bottom: 25px;
}

.selection-pill p {
    display: inline;
    padding: 6px 18px;
    background-color: hsl(216, 12%, 54%, 10%);
    border-radius: 100px;
    color: var(--orange);
}